<div *ngIf="profileInfo$ | async as profileInfo">
  <div class="d-flex flex-column">
    <div class="justify-content-center mt-5 mx-auto">
      <app-avatar [size] = "128" [imgUrl] = "profileInfo.imgUrl"></app-avatar>
    </div>
   <div class="card-body pt-0 pt-md-4">
    <div class="text-center">
      <h3>
        {{profileInfo.firstName}} {{profileInfo.middleName}} {{profileInfo.lastName}}
      </h3>
      <hr class="my-4" />
      <div class="h5">
        <i class="ni business_briefcase-24"></i>{{profileInfo.titleName}}
      </div>
      <div class="h5">
        <i class="ni education_hat mr-2"></i>{{profileInfo.projectName}}, {{profileInfo.departmentName}}
      </div>
    </div>
  </div> 
</div>
</div>
