<div *ngIf="profileInfo$ | async as profileInfo">
  <div class="d-flex flex-column">
    <div class="justify-content-center mt-5 mx-auto">
        <div class="profile-image rounded-circle overflow-hidden">
          <img src="{{profileInfo.imgUrl}}"  >
      </div>
      
    </div>
   <div class="card-body pt-0 pt-md-4">
    <div class="text-center">
      <h3>
        {{profileInfo.firstName}} {{profileInfo.middleName}} {{profileInfo.lastName}}
      </h3>
      <div class="h5 font-weight-300">
        <i class="ni location_pin"></i>
      </div>
      <div class="h5 mt-4">
        <i class="ni business_briefcase-24"></i>{{profileInfo.titleShortName}}
      </div>
      <div>
        <i class="ni education_hat mr-2"></i>{{profileInfo.projectName}}, {{profileInfo.departmentName}}
      </div>
      <hr class="my-4" />
      <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his
        own music.</p>
      <a href="javascript:void(0)">Show more</a>
    </div>
  </div> 
</div>
</div>
