@page
@using SlackClient
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KTMS Kudos Slack Integration</h1>
    <p> Environment: @SlackFixture.Instance().HostEnvironment</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
