<nz-empty *ngIf="!(kudosItems$ | async)" nzNotFoundImage="https://img.icons8.com/cute-clipart/344/wish-list.png" nzNotFoundContent="Let send kudos to someone as compliment on their helps." ></nz-empty>
  <div *ngIf="(kudosItems$ | async) as data">
  <nz-table #basicTable [nzData]="kudoReceives"  *ngVar="data.kudoReceives as kudoReceives">
    <thead>
      <tr>
        
        <th>Sender</th>
        <th>Receiver</th>
        <th>Content</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.senderFirstMidName }}</td>
        <td>{{ data.receiverFirstMidName }}</td>
        <td>{{ data.content }}</td>
        <td>{{ data.typeName }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

