<nz-skeleton *ngIf="!(kudosItems$ | async)" [nzActive]="true"></nz-skeleton>
<div *ngIf="(kudosItems$ | async) as data">
  <nz-table #basicTable [nzData]="data"  >

      <tr>
        <th scope="col" style="width: 10%;" ></th>
        <th scope="col" style="width: 60%;" >Content</th>
        <th scope="col" style="width: 15%;" class=" text-right">Created</th>
        <th scope="col" style="width: 15%;" class="text-center">From</th>
      </tr>
      <tr *ngFor="let data of basicTable.data; trackBy: trackById">
        <td class="text-center" ><span class="{{data.emoji | emojicss}}"></span></td>
        <td class=""><quill-view [content]="data.content"></quill-view></td>
        <td class="text-right">{{ data.created | date: 'short' }}</td>
        <td class="text-center" >
          <app-avatar [displayName] = "data.senderFirstMidName + ' ' + data.senderLastName" 
            [imgUrl] = "data.senderImgUrl"></app-avatar>
        </td >
      </tr>
  </nz-table>
</div>

