@import "../node_modules/ng-zorro-antd/ng-zorro-antd";
@import "../src/assets/scss/argon";


/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }




//
// KTMS Customization
//



// Ant Design-related customization

.ant {
  &-badge-dot {
    box-shadow: 0 0 0 0px;
  }

  &-empty-image {
    height: 60px;
  }

  &-layout-header {
    height: 58px;
    background: $body-bg;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: none;
    padding: 10px
  }
  
  &-menu {
    background: transparent;
  }

  &-tabs-nav-wrap {
    text-align: end;
  }

  &-avatar-string {
    transform: scale(0.857143) translateX(-50%);
  }

  &-table-thead > tr > th, &-table-tbody > tr > td {
    padding: 5px;
  }
  &-table-body > table {
    table-layout: fixed;
  }
  
}

.header-menu {
  height: 58px;
  line-height: 56px;
}



// Quill-related customization
.ql-container {

  font-size: 14px;
  font-family: inherit;

  .ql-editor {
    
    &::before {
      font-size: 1em;
      line-height: 1.7;
      font-style: normal;
      color: $gray-400;
    }
  
    p, * p {
      font-size: 1em;
      font-weight: 300;
      font-family: inherit;
      /* line-height: 1.7; */
    }
  }
}

