<div class="col-xl-8 border-right m-0 p-0">
  <div class="p-3 border-bottom ">
    <app-create-kudos></app-create-kudos>
  </div>
  <div >
    <nz-tabset nzTabPosition="top" >
      <nz-tab nzTitle="Kudos received">
        <div class="mt--3">
          <app-table-kudos-recevied [kudosData] = "receivedKudos$" ></app-table-kudos-recevied>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Kudos sent">
        <div class="mt--3">
          <app-table-kudos-sent [kudosData] = "sentKudos$" ></app-table-kudos-sent>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>