<div nz-row [nzGutter]="gutter">
  <div nz-col nzXs="24" nzLg="18" class="gutter-row">
    <h2 class="position-absolute mt-2">Kudos board</h2>

    <nz-tabset nzTabPosition="top">
      <nz-tab nzTitle="Kudos received">
        <app-table></app-table>
      </nz-tab>
      <nz-tab nzTitle="Kudos sent">
        <app-table></app-table>
      </nz-tab>
    </nz-tabset>
  </div>

  <div nz-col nzXs="24" nzLg="6" class="gutter-row d-inline-block">
    <app-user-info-panel [currentUser]="currentUser"></app-user-info-panel>
  </div>
</div>