<div class="h-100 d-block w-100 d-flex flex-column">
    <nz-header class="p-0 m-0" >
      <div class="offset-xl-3 col-xl-6 col-lg-12">
      <ul nz-menu nzMode="horizontal" class="header-menu">
        <li nz-menu-item *ngFor="let menu of menus" nzMatchRouter>
          <a routerLink={{menu.path}}>{{menu.name}}</a>
        </li>
        <li class="float-right" *ngIf="currentUser$ | async as currentUser">
          <div class="btn round-pill profile-menu">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <app-avatar imgUrl="{{currentUser.imgUrl}}" class="mr-2" ></app-avatar>
            {{currentUser.firstName}}
            <i class="align-baseline" nz-icon nzType="caret-down" nzTheme="fill"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="log('1st menu item')">Settings & Preferences</li>
              <li nz-menu-item (click)="log('2nd menu item')">Help Center</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="log('3rd menu item')">Sign Out</li>
            </ul>
          </nz-dropdown-menu>
          </div>
        </li>
      </ul>
      </div>
    </nz-header>
  <div class="d-flex flex-column flex-grow-1 overflow-auto">    
    <div class="d-flex flex-row flex-grow-1 ">
      <nz-affix [nzOffsetTop]="75"  class="offset-lg-0 offset-xl-1 col-lg-3 col-xl-2 col-md-3 col-0 p-0"> 
        <app-user-info-panel></app-user-info-panel>
      </nz-affix>
      <div class="col-xl-6 col-lg-9 col-md-9 border-left border-right pt-3"> 
        <router-outlet></router-outlet>
      </div>
      <div class="col-xl-3 col-lg-0 col-md-0"></div> 
    </div>
    <app-footer ></app-footer>
  </div>
  
</div>