<nz-layout class="min-vh-100">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="header-menu">
      <li nz-menu-item *ngFor="let menu of menus" nzMatchRouter>
        <a routerLink={{menu.path}}>{{menu.name}}</a>
      </li>
      <li class="float-right">
        <a nz-dropdown [nzDropdownMenu]="menu">
          Hi, {{currentUser.fullName}}
          <i class="align-baseline" nz-icon nzType="caret-down" nzTheme="fill"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="log('1st menu item')">1st menu item</li>
            <li nz-menu-item (click)="log('2nd menu item')">2nd menu item</li>
            <li nz-menu-item (click)="log('3rd menu item')">3rd menu item</li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </nz-header>

  <nz-content class="inner-content">
    <!-- <nz-layout class="inner-layout">
      <nz-content class="inner-content"> -->
    <router-outlet></router-outlet>
    <!-- </nz-content>
    </nz-layout> -->
  </nz-content>

  <nz-footer>KMS ©2020 Implemented By KMTS Team</nz-footer>

</nz-layout>