.logo {
  width: 40px;
  height: 40px;
  padding: 0px 5px;
  background: linear-gradient(left top, rgb(240, 233, 8), rgb(185, 58, 58));
  margin: 7px;
  border-radius: 1.5em;
  border: solid 0pt #e9ecef;
}
.sider-menu {
  height: 100%;
  border-right: 0;
}

.profile-menu {
  border-radius: 2em;
  padding: 3px 15px 3px 3px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.ant-layout-slider {
  position: absolute;
}


