<nz-skeleton *ngIf="!(kudosItems$ | async)" [nzActive]="true"></nz-skeleton>
<div *ngIf="(kudosItems$ | async) as data">
  <nz-table #basicTable [nzData]="data" >
    <thead>
      <tr>
        <th scope="col" class="" ></th>
        <th scope="col" class="" >Content</th>
        <th scope="col" class=" text-right">Created</th>
        <th scope="col" class=" text-center">Sent to</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; trackBy: trackById">
        <td ><span class="eo eo-{{data.emoji | emojicss}}"></span></td>
        <td >{{ data.content }}</td>
        <td class="text-right">{{ data.created | date: 'short' }}</td>
        <td class="text-center" >
          <nz-avatar [nzText]="data.receiverFirstMidName + ' ' + data.receiverLastName | appr" 
            nz-popover [nzPopoverContent]="data.receiverFirstMidName + ' ' + data.receiverLastName" nzPopoverPlacement="top" >
          </nz-avatar> 
        </td >
      </tr>
    </tbody>
  </nz-table>
</div>

